<!DOCTYPE html>
<html lang="da">
  <head>
    <%- include('./partials/head') %>
    <title>Blog Post</title>
    <script>
      setTimeout(function () {
        document.querySelector(".alert-remove").remove();
      }, 3000);
    </script>
  </head>
  <body>
    <div class="container mt-5">
      <h2>Dashboard</h2>

      <p class="text-muted">Se dine posts</p>

      <div class="mb-2">
        <button
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa fa-plus"></i> Nyt post
        </button>

        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Lav et ny post
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="container mt-3 mb-5">
                  <div class="row">
                    <div class="col-md-8 offset-md-2">
                      <form
                        id="form"
                        action="/api/create?_method=PUT"
                        method="POST"
                      >
                        <div id="error" class="text-danger mt-1 d-none">
                          <i class="fa-solid fa-circle-exclamation"></i>
                        </div>
                        <div class="mb-3">
                          <label for="title" class="col-form-label"
                            >Title</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            placeholder="Indtast titel her"
                            onkeyup="validateTitle()"
                            required
                          />
                        </div>
                        <div class="mb-3">
                          <label for="message-text" class="col-form-label"
                            >Beskrivelse</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="description"
                            name="description"
                            placeholder="Indtast beskrivelse her"
                            onkeyup="validateContent()"
                            required
                          />
                        </div>
                        <div class="mb-3">
                          <label for="message-text" class="col-form-label"
                            >Indhold</label
                          >
                          <textarea
                            class="form-control"
                            id="content"
                            name="content"
                            placeholder="Indtast indhold her"
                            onkeyup="validateContent()"
                            required
                          ></textarea>
                        </div>

                        <div class="mb-3">
                          <label for="message-text" class="col-form-label"
                            >Billede URL</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="image"
                            name="image"
                            placeholder="Indtast billed URL her"
                            onkeyup="validateImage()"
                            required
                          />
                        </div>

                        <button
                          type="submit"
                          class="btn btn-primary"
                          id="saveBtn"
                        >
                          Opret
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="btn btn-secondary mr-4"
          onclick="window.location.href = '/'"
        >
          <i class="fa fa-arrow-left"></i> Tilbage
        </button>
        <button
          class="btn btn-warning mr-4"
          onclick="window.location.href = '/auth/logout'"
        >
          <i class="fa-solid fa-sign-out"></i> Log af
        </button>
      </div>
    </div>

    <div class="container mb-5">
      <hr class="my-1 hr" style="width: 40%" size="6" />
    </div>

   <% posts.forEach(post => { %> <% if (post.author[0] === user.id) {
    %>

    <div class="container mb-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.description %></p>

              <img
                src="<%= post.image %>"
                class="card-img-top mb-2"
                style="max-width: 25%"
                alt="<%= post.title %>"
              />
              <div class="card-footer">
                <small class="text-muted">
                  <%= post.createdAt.toLocaleDateString() %>
                </small>
              </div>

              <button type="button" href="/post/<%= post.id %>/edit" class="btn btn-primary" disabled
                ><i class="fa fa-pencil"></i> Rediger</i></button
              >
              <a
                href="/api/delete/<%- post.id %>"
                class="btn btn-danger"
                onclick="return confirm('Er du sikker på at du vil slette denne post?') "
                ><i class="fa-solid fa-trash"></i> Slet</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } else { %>
      <div class="container mt-5">
        <div class="alert alert-warning" role="alert">
          Du har ingen posts endnu
        </div>
        <% } %>  <% }); %>
  </body>
</html>
